---
title: Le Wagon - Middleman
---
<!-- Imports banner -->
<%= partial "partials/banner"  %>

<!-- Imports cards which are created using a ruby loop -->
<div class="wrapper-white">
  <div class="container">
    <div class="row">
     <%= partial "partials/home_card" %>
    </div>
  </div>
</div>

<!-- Imports creates a home page -->
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
    <p class="about">
      <%= link_to "View the team members" , "team.html"  %>
    </p>
  </div>
</div>
